.red{
    background-color: red;

}

button{
    background-color: black;
    width: 2%;
    height: 4vh;
    border-radius: 50%;
}
.yellow{
    background-color: yellow;
}

.white{
    background-color: white;
}

.back:hover{
    color:gold ;
  }
.back{
position: absolute;
top: 1%;
left: 1%;
border: 1px solid black;
padding: 0.5%;
background-color: #161616;
color: white;
border-radius: 5px;
text-decoration: none;
}

.redPlayer{
    color:red;
   
}

.yellowPlayer{
    color: yellow;
}

#grille{
    background-color: blue;
    min-width: 1vw;
    min-height: 98vh;
    
}

.ligne{
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
}

.card{
    min-width: 6%;
    min-height: 11vh;
    border-radius: 100%;
}

h1{
    text-align: center;
}

#pop{
    display: none;
    position: absolute;
    background-color: darkgray;
    top: 20%;
    left:40%;
    text-align: center;
    min-width: 20%;
    min-height:20%;
    font-size: 4rem;
}

@media  screen and (min-width : 320px) and (max-width :768px) {
    .card{
        min-width: 8%;
        min-height: 4vh;
        border-radius: 100%;
    }
    
    
    #grille{
        background-color: blue;
        min-width: 1vw;
        min-height: auto;
        margin-top: 50%;
    }

    button{
        background-color: black;
        width: 8%;
        height: 4vh;
        border-radius: 50%;
        margin-top: 5%;
    }

    #pop {
        display: none;
        position: absolute;
        background-color: darkgray;
        left: 40.5px;
        right: 40.5px;
        text-align: center;
        min-height: 10%;
        font-size: 2rem;
      }
}